.App {

}

:root {
  --header-height: 10vh;
  --hover-color: #7493f7;
  --light-dark-bg: rgb(31, 32, 41);
  --light-dark-bg-hover: rgb(144, 144, 150);
  --light-dark-font-color: rgb(67, 69, 74);
  --sidebar-font-color: #bdbdbd;
  --sidebar-collapse-width: 80px;
  --body-background-color: #151417;
  /***********Colors*************/
  --font-sm-color: #9d9ea3;
  /******************************/
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}